@page "/products/index"

@inject IProductService service
@inject NavigationManager navManager

<h3> Products </h3>

@if (Products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <a href="/products/create" class="btn btn-info">Create Product</a>
    <br />
    <br />

    <table class="table">
        <thead>
            <tr>
                <th> Name </th>
                <th> Edit </th>
                <th> Delete </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td> <a href="/products/edit/@product.ID" class="btn btn-warning">Edit</a> </td>
                    <td> <a href="/products/delete/@product.ID" class="btn btn-danger">Delete</a> </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {

    List<Product> Products;

    protected override async Task OnInitializedAsync()
    {
        Products = await service.GetAllAsync();
    }

    private void GoToCreatePage()
    {
        navManager.NavigateTo("products/create");
    }

}
