@page "/products/index"

@inject IProductService service
@inject NavigationManager navManager

<h3>IndexPage</h3>

@if (Products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button type="button" class="btn btn-info" @onclick="GoToCreatePage">Create Product</button>

    <table class="table">
        <thead>
            <tr>
                <th> Name </th>
                <th> Edit </th>
                <th> Delete </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td> <a href="/products/edit/@product.ID" class="btn btn-warning">Edit</a> </td>
                    <td><input type="button" class="btn btn-danger" value="Delete" /></td>
                </tr>
            }
        </tbody>
    </table>
}


@code {

    List<Product> Products;

    protected override async Task OnInitializedAsync()
    {
        Products = await service.GetAllAsync();
    }

    private void GoToCreatePage()
    {
        navManager.NavigateTo("products/create");
    }

    private void GoToEditPage(Guid id)
    {
        navManager.NavigateTo($"products/edit/{id}");
    }


}
